@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: rgb(6, 51, 44);
  color: lightgray;
}

.paivamaara {
  text-align: right;
  margin-right: 1.2rem;
}

.otsikko {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0%;
}

#info {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

#maavalinta, #kantavalinta { 
  font-size: 1rem;
  background-color: rgb(186, 243, 243);
  padding: 0.2rem;
  margin: 0.4rem;
}

#maavalinta:hover {
  background-color: white;
}

#syote {
  font-size: 1.2rem;
  width: 8rem;
  padding: 0.2rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(186, 243, 243);
}

#syote:hover {
  background-color: white;
}

#nappiMuunna {
  width: 3rem;
  background-color: rgb(186, 243, 243);
  padding: 0.2rem;
}

#nappiMuunna:hover {
  background-color: white;
} 

#input {
  margin: 10px;
}

.tulostus {
  font-size: 1.3rem;
  width: 100%;
  height: auto;
  table-layout: fixed;
  translate: no;
}

#solu1, #solu4 {
  text-align: right;
  padding: 0.5rem;
}

#solu2, #solu5 {
  text-align: center;
  width: 1rem;
}

#solu3, #solu6 {
  text-align: left;
  padding: 0.5rem;
}
